.nav-link {
    color: rgb(33, 95, 85);
    font-weight: 500;
}

.nav-item.active a {
    color: #FFF;
}


.App-logo {
    animation: App-logo-spin infinite 20s linear;
    height: 50px;
}
  
@keyframes App-logo-spin {
    from { transform: rotate(0deg); }
    to { transform: rotate(360deg); }
  }
  